{% extends 'base.html' %}

{% block title %}Profiles{% endblock %}



{% block content %}

    {% if profiles_list %}
        <div class="container p-5 mt-5 " >
        <ul class="list-group ">
            {% for profile in profiles_list %}
                <li>
                    <a class="list-group-item text-center m-1 style_list" href=
                            "{% url 'profiles:profile' username=profile.user.username %}">
                        {{ profile.user.username }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        </div>
    {% else %}
        <p>No profiles are available.</p>
    {% endif %}

{% endblock %}