body{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 80px);
    background-position: center;
    margin: 0;
    overflow: hidden;
}

#nav_top{
    background-color: #F6D7A7;
    width: 100%;
}

#sub_nav{
    background-color: #F6EABE;
    width: 100%;
    padding: 5px;
}

#nav_bottom{
    background-color: #C8E3D4;
    width: 100%;
    padding: 12px;
}


h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 80px;
}

.navbar-brand{
    color: black;
}


.icons{
    width: 10px;
}

.style_list {
    background-color: rgba(255, 255, 255, 0.8);

}