{% extends 'base.html' %}.
{% block title %}Lettings{% endblock %}

{% block content %}


    {% if lettings_list %}
        <div class="container p-5 mt-5 " >
            <ul class="list-group " >
                {% for letting in lettings_list %}
                    <li >
                        <a class="list-group-item text-center m-1 style_list" href=
                                "{% url 'lettings:letting' letting_id=letting.id %}">
                            {{ letting.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No lettings are available.</p>
    {% endif %}

{% endblock %}