{% extends 'base.html' %}

<title>{{ title }}</title>

{% block content %}
    <div class="d-flex justify-content-center pt-5 mt-5">
        <div class="card justify-content-center" style="width: 20rem;">
            <div class="card-body text-center">
                <h5 class="card-title">{% block title %}{{ title }}{% endblock %}</h5>
                <p class="card-text p-2">
                <p class="m-0">address: </p>
                <p>{{ address.number }} {{ address.street }}
            {{ address.city }} {{ address.state }} {{ address.zip_code }} {{ address.country_iso_code }}</p>
            </div>
        </div>
    </div>

{% endblock %}